header {
    width: 100%;
    height: 10vh;
    background-color: $primary-color;
    .nav{
        @include container;
        @include flex(row,space-between,center,nowrap);
        width: 100%;
        height: 100%;
        position: relative;
        .logo > h1 >a{
            font-size: 2.5rem;
            color: $light-color;
            font-family: $font-primary;
            font-weight: 100;
            // media querry for mobile logo
            @include mobile {
                & {
                    font-size: 1.5rem;
                }
            }
        }
        &-menu{
            @include flex(row,space-around,center,nowrap);
            &-item {
                margin: map-get($margin, m-1);
            }
            &-link {
                color: $light-color;
                font-size: $text-nav;
                font-family: $font-secondary;
                padding: map-get($padding, py );
            }
           
            &-link:hover{
                @include transition;
                color: $error-color;
                border-bottom: 2px solid $error-color;
            } 
            
                
              
            }   
            // media queryy for mobile menu 
            @include mobile {
                .nav-menu {
                   position: absolute;
                   top: -100%;
                   left: 0;
                }
                .active.nav-menu {
                    @include transition;
                    @include flex(column,center,center,5px);
                    width: 100%;
                    height: 40vh;
                    position: absolute;
                    left: 0;
                    top: 11vh;  
                    z-index: 999; 
                    background-color: $primary-color;                                         
                }    
        }
       
    
        
        .humburger{
            display: none;
            width: 2rem;
            height: 2.5rem;
            position: relative;
            .bar{
                position: absolute;
                width: 100%;
                height: 3px;
                top: 50%;
                background-color: #fff;
                transition: all 0.5s ease-in-out;
                &::before{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    transition: all 0.5s ease-in-out; 
                    margin-top: -12px;
                }
                
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    top: 50%;
                    background-color: #fff;
                    transition: all 0.5s ease-in-out;
                    margin-top:10px;                  
                };
              
            }
            &.active .bar {
               background: transparent;

                &::before{
                    transform: translateY(12px) rotate(45deg);
                }
                &::after {
                    transform: translateY(-12px) rotate(-45deg);
                }
            }
             // media querry for mobile humburger
        @include mobile {
            display: block;
        }
      
        }
        // media querry for mobile nav bar
        @include mobile {
            padding: 0 1rem;
        }
        // styles for tablet nav bar
        @include tablet {
            padding: 0 1.5rem;
        }
       
    }
   
}