// color
$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4f4;
$success-color: #5cb85c;
$error-color: #d9534f;
$shadow-color:#333;

// font sizes
$text-nav:1.2rem;
$text-para:1rem;
$text-section-head:2rem;
$text-section-subhead:1.5rem;

// font family
$font-primary: 'Space Mono', monospace ,sans-serif;
$font-secondary: 'Didact Gothic', sans-serif;
